<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <header>
      <div class="header">
        <a href="/" class="title"><h2>User-Diary 3</h2></a>
        <a href="/users/new" class="btn-store">Add User</a>
      </div>
    </header>
    <div class="container">
      <h2 class="list_header">All Users List</h2>
      <% users.forEach(user => { %>
      <section class="list">
        <h2 class="list_title">Name :<%= user.name %></h2>
        <p class="list_text">Email :<%= user.email %></p>

        <p class="list_text">Age :<%= user.age %></p>
        <p class="list_text">Address :<%= user.address %></p>
        <p class="list_text">Bio :<%= user.bio.substr(0,200) + "..." %></p>
        <p class="list_text">Hobbies :<%= user.hobbies %></p>
        <a href="/users/<%= user._id %>">
          <button class="btn-show">Show</button>
        </a>
      </section>
      <% }) %>
    </div>
  </body>
</html>
