<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <header>
      <div class="header">
        <a href="/" class="title"><h2>User-Diary 3</h2></a>
        <a href="/users" class="btn-store">back</a>
      </div>
    </header>
    <section class="book">
      <h1><%= user.name %></h1>
      <p><%= user.email %></p>
      <h3>Address: <%= user.address %></h3>
      <h2><%= user.bio %></h2>
      <h2><%= user.hobbies %></h2>
    </section>
    <a href="/users/<%= user._id %>/edit">
      <button class="btn-show">Edit</button>
    </a>
    <a href="/users/<%= user._id %>/delete">
      <button class="btn-show">Delete</button>
    </a>
  </body>
</html>
